{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="geo.country" content="BR"/>
    <title>Pagína Não Encontrada</title>
    <meta name="theme-color" content="#9b75fb">
    <meta name="msapplication-navbutton-color" content="#9b75fb">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <META NAME="ROBOTS" content="index, follow" />
    <META NAME="Googlebot" CONTENT="index, follow" />
    <link rel="alternate" type="application/xml" title="aprovação em concursos" href="https://martaconcurseira.com/sitemap.xml" />
    <link rel="alternate" type="application/xml" title="curso preparatório para concursos" href="https://martaconcurseira.com/sitemap-mobile.xml" />
    <link rel="alternate" type="application/rss+xml" title="cursos de português para concursos" href="https://martaconcurseira.com/sitemap.ror"/>
    <link rel="shortcut icon" href="{% static 'images/favicon-marta-32x32.png' %}" type="image/x-icon" />
    <link href="https://martaconcurseira.com/" rel="canonical" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
</head>
<body>
<main>
    <section>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> NÃO ENCONTRAMOS ESSA PAGÍNA.</p>
                <p class="lead">A página que você está procurando não existe.</p>
                <a href="/" class="btn btn-primary">Voltar para Home</a>
            </div>
        </div>
    </section>
</main>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>

