{% extends 'base.html' %}

{% block title %}
    Sobre nós | {{ block.super }}
{% endblock title %}

{% block meta_description_keyword %}
    <meta name="description" content="Somos uma comunidade de concurseiros, estudantes em geral, àvidos por conhecimento e apaixonados por compartilhar conhecimentos." />
    <meta name="keywords" content="Sobre, empresa, marta concurseira, sobre os cursos"/>
{% endblock %}


{% block main %}

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="py-md-4 my-md-4 py-3 my-3 text-center">
                        <h2 class="display-4 fw-bold text-primary">Sobre nós</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-12">
                    <div class="mb-4">
                      <h1 class="h2 text-center">{{ about.title_page }}</h1>
                    </div>

                    <div class="post">
                        <p>
                            {{ about.text_page|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner_full text-center bg-white py-4 my-lg-5 my-sm-3">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8162488622576384"
         crossorigin="anonymous"></script>
            <!-- Responsivo-Pagina-Home -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-8162488622576384"
                data-ad-slot="5233912827"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        
    </section>

{% endblock main %}