{% extends 'base.html' %}

{% block title %}
    Sobre nós | {{ block.super }}
{% endblock title %}

{% block main %}

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="py-md-4 my-md-4 py-3 my-3 text-center">
                        <h2 class="display-4 fw-bold text-primary">Sobre nós</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-12">
                    <div class="mb-4">
                      <h1 class="h2 text-center">Conheça e faça parte da nossa história!</h1>
                    </div>

                    <div class="border-top border-bottom py-4 mb-5">
                        <div class="row align-items-md-center justify-content-center">

                            <div class="col-md-4">
                                <div class="d-flex justify-content-md-end align-items-center share">
                                    <span class="d-block small font-weight-bold text-cap mr-2">Compartilhe:</span>

                                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ms-2" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ms-2" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ms-2" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ms-2" href="#">
                                        <i class="fab fa-telegram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post">
                        <p>
                            At Front, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                        </p>

                        <p>As we've grown, we've seen how Front has helped companies such as Spotify, Microsoft, Airbnb, Facebook, and Intercom bring their designers closer together to create amazing things. We've also learned that when the culture of sharing is brought in earlier, the better teams adapt and communicate with one another.</p>

                        <p>That's why we are excited to share that we now have a free version of Front, which will allow individual designers, startups and other small teams a chance to create a culture of openness early on.</p>

                        <p> <strong>Bringing the culture of sharing to everyone</strong> </p>
                        <p>We know the power of sharing is real, and we want to create an opportunity for everyone to try Front and explore how transformative open communication can be. Now you can have a team of one or two designers and unlimited spectators (think PMs, management, marketing, etc.) share work and explore the design process earlier.</p>

                        <p>
                            Small teams and individual designers need a space where they can watch the design process unfold, both for themselves and for the people they work with – no matter if it's a fellow designer, product manager, developer or client. Front allows you to invite more people into the process, creating a central place for conversation around design. As those teams grow, transparency and collaboration becomes integrated in how they communicate and work together.
                        </p>

                        <p>
                            We will continue to update Front; if you have any questions or suggestions, please contact us!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}