{% extends 'base.html' %}

{% block title %}
    Sobre nós | {{ block.super }}
{% endblock title %}

{% block main %}

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="py-md-4 my-md-4 py-3 my-3 text-center">
                        <h2 class="display-4 fw-bold text-primary">Sobre nós</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-12">
                    <div class="mb-4">
                      <h1 class="h2 text-center">{{ about.title_page }}</h1>
                    </div>

                    <div class="post">
                        <p>
                            {{ about.text_page|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}