{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block main %}

    <section class="bg-white py-5 border-bottom">
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-lg-5 col-sm-12">
                    <img src="{% static 'images/teste/reading.svg' %}" alt="Banner Leitura" title="Banner Leitura" width="445" height="388">
                </div>

                <div class="col-lg-7 col-sm-12 text-center">
                    <div class="w-75 m-auto">
                        <h2 class="d-block text-primary">CURSOS ONLINE para você ser APROVADO</h2>
                        <span class="text-secondary">
                            Aprenda tudo o que precisa para passar no concurso que você tanto deseja.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white shadow-sm mb-4 py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="d-flex align-items-center">
                        <i class="me-2"><img src="{% static 'images/clock.svg' %}" alt="Saia na frente" title="Saia na frente" width="60"
                                             height="60"></i>
                        <div>
                            <strong class="d-block text-danger">Saia na frente</strong>
                            <span class="text-secondary">Não perca tempo, escolha seu curso e comece hoje mesmo a se preparar!</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12">
                    <div class="d-flex align-items-center">
                        <i class="me-2"><img src="{% static 'images/cofre.svg' %}" alt="Cursos com o menor custo" title="Cursos com o menor custo" width="60"
                                             height="60"></i>
                        <div>
                            <strong class="d-block text-danger">Cursos com o menor custo</strong>
                            <span class="text-secondary">A melhor relação custo x benefícios, confira!</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12">
                    <div class="d-flex align-items-center">
                        <i class="me-2"><img src="{% static 'images/celo.svg' %}" alt="Seja aprovado" title="Seja aprovado" width="60" height="60"></i>
                        <div>
                            <strong class="d-block text-danger">Seja aprovado</strong>
                            <span class="text-secondary">Estude com os nossos cursos e seja aprovado nos melhores concursos.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--        <div class="banner text-center bg-white py-4 mb-4">-->
    <!--            <img src="assets/images/teste/banner_min_test.png" alt="">-->
    <!--        </div>-->

    {% comment %} <section>
        <div class="container mb-3">
            <div class="row">
                <div class="col-12">
                    <form action="" class="row align-items-center">
                        <div class="col-lg-10">
                            <div class="input-group input-group-filter">
                                <select class="form-select" id="inputGroupSelect02">
                                    <option selected>Todas as Categorias</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <input type="text" aria-label="Last name" class="form-control">
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-12">
                            <div class="d-grid gap-2">
                                <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="fas fa-filter me-2"></i>
                                    Mais filtros
                                </a>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="collapse mt-3" id="collapseExample">
                                <div class="card card-body">
                                    <div class="alert alert-light mb-0">
                                        <span>Ainda não tem certeza? Todos os cursos contam com uma garantia de devolução do dinheiro em 30 dias</span>
                                    </div>

                                    <div class="d-flex flex-fill">
                                        <div class="p-2">
                                            <strong class="d-block mb-1">Preços</strong>
                                            <div class="list-group">
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    Até R$250
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    R$250 a R$500
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    Third checkbox
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    Fourth checkbox
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    Fifth checkbox
                                                </label>
                                            </div>
                                        </div>

                                        <div class="p-2">
                                            <strong class="d-block mb-1">Duração</strong>
                                            <div class="list-group">
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    Menos de 4 minutos
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    4 a 20 minutos
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    Third checkbox
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    Fourth checkbox
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    Fifth checkbox
                                                </label>
                                            </div>
                                        </div>

                                        <div class="p-2">
                                            <strong class="d-block mb-1">ORDENAR POR</strong>
                                            <div class="list-group">
                                                <a href="#" class="list-group-item list-group-item-action">Relevância</a>
                                                <a href="#" class="list-group-item list-group-item-action">Contagem de visualizações</a>
                                                <a href="#" class="list-group-item list-group-item-action">Classificação</a>
                                                <a href="#" class="list-group-item list-group-item-action">Classificação</a>
                                                <a href="#" class="list-group-item list-group-item-action">Classificação</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="text-primary">Nossos cursos</h2>
                        <a href="{% url 'courses:home' %}" class="btn btn-danger btn-sm px-3">Ver todos</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for course in courses %}
                <div class="col-lg-3 col-sm-6 mt-3">
                    <div class="card shadow-sm border-0">
                        <a href="{{ course.get_absolute_url }}" class="card-img-top">
                            <img src="{{ course.image.url }}" alt="{{ course.name }}" title="{{ course.name }}"
                                 class="card-img-top rounded-top">
                        </a>
                        <div class="card-body">
                            <a href="{{ course.get_absolute_url }}" class="text-dark text-decoration-none">
                                <strong>
                                    {{ course.name }}
                                </strong>
                            </a>
                            <small class="d-block mt-3 text-secondary">{{ course.author }}</small>
                        </div>
                        <div class="card-footer bg-white">
                            <div class="d-flex align-items-end justify-content-between">
                                <div>
                                    <strong class="text-primary">R$ {{ course.price }}</strong>
                                </div>

                                <a href="{{ course.get_absolute_url }}" class="btn btn-danger btn-sm">ver detalhes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section> {% endcomment %}

    <div class="banner_full text-center bg-white py-4 my-lg-5 my-sm-3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8162488622576384"
     crossorigin="anonymous"></script>
        <!-- Responsivo-Pagina-Home -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8162488622576384"
            data-ad-slot="5233912827"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <section class="bg-white pt-lg-5 pt-sm-3 mb-lg-5 mb-sm-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-flex justify-content-center align-items-center pb-4">
                        <h2 class="text-primary">Sonha com aquela vaga que paga um ótimo salário?</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img src="{% static 'images/img_curso.png' %}" alt="Sonha com aquela vaga que paga um ótimo salário?" title="Sonha com aquela vaga que paga um ótimo salário?" class="img-fluid">
                </div>

                <div class="col-lg-6 col-sm-12">
                    <p>Imagine você trabalhando com o que mais gosta e ainda com um baita salário e cheio de benefícios... Imaginou?</p>
                    <p>Agora, para que você possa conseguir seu objetivo, o primeiro passo é se preparar e quando o assunto é preparação, nossa equipe de curadores é especialista
                    em encontrar os melhores cursos, todos são selecionados após um extenso processo de verificação que vai desde a grade do curso até a qualidade dos professores.</p>

                    <p>Em nosso site você encontrará o curso certo para sua preparação, navegue mais pelo nosso site e se tiver dúvidas, não hesite em entrar em contato.</p>

                    <a href="{% url 'courses:home' %}" class="btn btn-danger btn-lg rounded">Conheça nossos cursos</a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="text-primary">Blogs</h2>
                        <a href="{% url 'blog:blog_home' %}" class="btn btn-danger btn-sm px-3">Ver todos</a>
                    </div>
                </div>

                {% for post in posts %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card shadow-sm border-0">
                            <a href="{{ post.get_absolute_url }}" class="card-img-top">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" title="{{ post.title }}"
                                     class="card-img-top rounded-top">
                            </a>
                            <div class="card-body">
                                <a href="{{ post.get_absolute_url }}" class="text-dark text-decoration-none">
                                    <strong>
                                        {{ post.title }}
                                    </strong>
                                </a>
                                <span class="d-block mt-2 text-secondary">{{ post.headline|truncatewords:15 }}</span>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex align-items-center justify-content-center py-2">
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-danger btn-sm">Leia mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock main %}