{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block main %}

    <section class="bg-white py-5 border-bottom">
        <div class="container">
            {% if block1_banner %}
                <div class="row  align-items-center">
                    <div class="col-lg-5 col-sm-12 banner_img_topo">
                        <img src="{{ block1_banner.image.url }}" alt="{{ block1_banner.title }}" title="{{ block1_banner.title }}" width="445" height="388">
                    </div>
                    <div class="col-lg-7 col-sm-12 text-center">
                        <div class="w-75 m-auto">
                            <h2 class="d-block text-primary">{{ block1_banner.title }}</h2>
                            <span class="text-secondary">
                                {{ block1_banner.text|safe }}
                            </span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    <section class="bg-white shadow-sm mb-4 py-4">
        <div class="container">
            <div class="row">
                {% if block2_banner %}
                    <div class="col-lg-4 col-sm-12">
                        <div class="d-flex align-items-center">
                            <i class="me-2"><img src="{{ block2_banner.image.url }}" alt="{{ block2_banner.title }}" title="{{ block2_banner.title }}" width="60"
                                                 height="60"></i>
                            <div>
                                <strong class="d-block text-danger">{{ block2_banner.title }}</strong>
                                <span class="text-secondary">{{ block2_banner.text|safe }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if block3_banner %}
                    <div class="col-lg-4 col-sm-12">
                        <div class="d-flex align-items-center">
                            <i class="me-2"><img src="{{ block3_banner.image.url }}" alt="{{ block3_banner.title }}" title="{{ block3_banner.title }}" width="60"
                                                 height="60"></i>
                            <div>
                                <strong class="d-block text-danger">{{ block3_banner.title }}</strong>
                                <span class="text-secondary">{{ block3_banner.text|safe }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if block4_banner %}
                    <div class="col-lg-4 col-sm-12">
                        <div class="d-flex align-items-center">
                            <i class="me-2"><img src="{{ block4_banner.image.url }}" alt="{{ block4_banner.title }}" title="{{ block4_banner.title }}" width="60" height="60"></i>
                            <div>
                                <strong class="d-block text-danger">{{ block4_banner.title }}</strong>
                                <span class="text-secondary">{{ block4_banner.text|safe }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!--        <div class="banner text-center bg-white py-4 mb-4">-->
    <!--            <img src="assets/images/teste/banner_min_test.png" alt="">-->
    <!--        </div>-->

    <section class="card-wrap">
        <div class="container mb-3">
            <div class="row">
                <div class="col-12 ">
                    <form action="{% url 'pages:search_filters' %}" class="row justify-content-center align-items-center">

                        <div class="col-lg-10">
                            <div class="input-group input-group-filter">
                                <input type="text" aria-label="Last name" class="form-control form-control-lg" name="search" placeholder="Pesquisar...">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div> 

                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="text-primary">Nossos cursos</h2>
                        <a href="{% url 'courses:home' %}" class="btn btn-danger btn-sm px-3">Ver todos</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for course in page_obj %}
                <div class="col-lg-3 col-sm-6 mt-3">
                    <div class="card shadow-sm border-0">
                        <a href="{{ course.get_absolute_url }}" class="card-img-top">
                            <img src="{{ course.image.url }}" alt="{{ course.name }}" title="{{ course.name }}"
                                 class="card-img-top rounded-top">
                        </a>
                        <div class="card-body">
                            <a href="{{ course.get_absolute_url }}" class="text-dark text-decoration-none">
                                <strong>
                                    {{ course.name }}
                                </strong>
                            </a>
                            <small class="d-block mt-3 text-secondary">{{ course.author }}</small>
                        </div>
                        <div class="card-footer bg-white">
                            <div class="d-flex align-items-end justify-content-between">
                                <div>
                                    <strong class="text-primary">R$ {{ course.price }}</strong>
                                </div>

                                <a href="{{ course.get_absolute_url }}" class="btn btn-danger btn-sm">ver detalhes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

             <!-- Paginator -->
            <div class="d-flex justify-content-center align-items-center py-4">
                {% if page_obj.has_other_pages %}
                <div class="btn-group" role="group" aria-label="Item pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
                    {% endif %}

                    {% if page_obj.number|add:'-4' > 1 %}
                    <a href="?page={{ page_obj.number|add:'-5' }}" class="btn btn-outline-primary">&hellip;</a> 
                    {% endif %}

                    {% for page_number in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_number %}
                            <button class="btn btn-outline-primary active">
                                <span>{{ page_number }} <span class="sr-only">(Atual)</span></span>
                            </button>

                        {% elif page_number > page_obj.number|add:'-5' and page_number < page_obj.number|add:'5' %}
                            <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                                {{ page_number }}
                            </a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <a href="?page={{ page_obj.number|add:'5' }}" class="btn btn-outline-primary">&hellip;</a>  
                    {% endif %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
                    {% endif %}
                </div>
                {% endif %}

            </div>
            
        </div>
    </section>

    <div class="banner_full text-center bg-white py-4 my-lg-5 my-sm-3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8162488622576384"
     crossorigin="anonymous"></script>
        <!-- Responsivo-Pagina-Home -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8162488622576384"
            data-ad-slot="5233912827"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    {% if block5_banner %}
        <section class="bg-white pt-lg-5 pt-sm-3 mb-lg-5 mb-sm-3 marginOn">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="d-flex justify-content-center align-items-center pb-4">
                            <h2 class="text-primary">{{ block5_banner.title }}</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <img src="{{ block5_banner.image.url }}" alt="{{ block5_banner.title }}" title="{{ block5_banner.title }}" class="img-fluid">
                    </div>

                    <div class="col-lg-6 col-sm-12 marginOn">
                        {{ block5_banner.text|safe }}

                        <a href="{% url 'courses:home' %}" class="btn btn-danger btn-lg rounded">Conheça nossos cursos</a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="text-primary">Blogs</h2>
                        <a href="{% url 'blog:blog_home' %}" class="btn btn-danger btn-sm px-3">Ver todos</a>
                    </div>
                </div>

                {% for post in posts %}
                    <div class="col-lg-3 col-sm-6 marginOn">
                        <div class="card shadow-sm border-0">
                            <a href="{{ post.get_absolute_url }}" class="card-img-top">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" title="{{ post.title }}"
                                     class="card-img-top rounded-top">
                            </a>
                            <div class="card-body">
                                <a href="{{ post.get_absolute_url }}" class="text-dark text-decoration-none">
                                    <strong>
                                        {{ post.title }}
                                    </strong>
                                </a>
                                <span class="d-block mt-2 text-secondary">{{ post.headline|truncatewords:15 }}</span>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex align-items-center justify-content-center py-2">
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-danger btn-sm">Leia mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock main %}