{% extends 'base.html' %}

{% block title %}
    Últimas Notícias | {{ block.super }}
{% endblock title %}

{% block main %}

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="py-4 text-center">
                        <h2 class="display-4 fw-bold text-primary">Blog</h2>
                        <span class="h4 fw-light">Última atualização</span>
                    </div>
                </div>

                <div class="col-10">
                    <div class="card mb-4">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="{{ last_post.get_absolute_url }}"><img src="{{ last_post.image.url }}" alt="{{ last_post.title }}"
                                     class="card-img-top rounded"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="{{ last_post.get_absolute_url }}" style="text-decoration:none;color:black"><h4 class="card-title">{{ last_post.title }}</h4></a>
                                    <p class="card-text text-secondary">{{ last_post.headline }}</p>
                                    <time class="small d-block">{{ last_post.published_at|timesince }}</time>
                                </div>
                                <div class="card-footer bg-white">
                                    <div class="d-flex align-items-center justify-content-center pt-2">
                                        <a href="{{ last_post.get_absolute_url }}" class="btn btn-danger btn-sm">Leia mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-9">
                    <strong class="h4 d-block fw-bold mb-3 text-primary">Artigos recentes</strong>
                </div>
                <div class="w-100"></div>

                {% for post in posts %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card shadow-sm border-0 mb-4">
                            <a href="{{ post.get_absolute_url }}" class="card-img-top">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top rounded-top">
                            </a>
                            <div class="card-body">
                                <a href="{{ post.get_absolute_url }}" class="text-dark text-decoration-none">
                                    <strong>
                                        {{ post.title }}
                                    </strong>
                                </a>
                                <span class="d-block mt-2 mb-3 text-secondary">{{ post.headline }}</span>

                                <time class="small d-block">{{ post.published_at|timesince }} atrás</time>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex align-items-center justify-content-center py-2">
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-danger btn-sm">Leia mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="w-100"></div>
            </div>

            {% if posts.paginator.num_pages > 1 %}
                <div class="row">
                    <div class="co-12">
                        <nav aria-label="Page navigation blog">
                            <ul class="pagination justify-content-center">
                                {% if posts.number != 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?pagina={{ posts.previous_page_number }}"
                                           tabindex="-1" aria-disabled="true">Anterior</a>
                                    </li>
                                {% endif %}

                                {% for p in posts.paginator.page_range %}
                                    <li class="page-item"><a class="page-link" href="?pagina={{ p }}">{{ p }}</a></li>
                                {% endfor %}
                                {% if posts.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?pagina={{ posts.next_page_number }}">Próximo</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %} 
        </div>
    </section>
    <div class="banner_full text-center bg-white py-4 my-lg-5 my-sm-3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8162488622576384"
     crossorigin="anonymous"></script>
        <!-- Responsivo-Pagina-Home -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8162488622576384"
            data-ad-slot="5233912827"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

{% endblock main %}