{% extends 'base.html' %}

{% block title %}
    Nossos cursos | {{ block.super }}
{% endblock %}

{% block meta_description_keyword %}
    <meta name="description" content="Cursos para você se preparar e conseguir a tão sonhada vaga" />
    <meta name="keywords" content="Todos os Cursos, Cursos, Courses"/>
{% endblock %}

{% block main %}

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="py-4 text-center">
                        <h1 class="display-4 fw-bold text-primary">Todos os Cursos</h1>
                        <span class="h4 fw-light">Cursos para você se preparar e conseguir a tão sonhada vaga</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="w-100"></div>

                {% for course in courses %}
                    <div class="col-lg-3 col-sm-6">
                    <div class="card shadow-sm border-0 mb-4">
                        <a href="{{ course.get_absolute_url }}" class="card-img-top">
                            <img src="{{ course.image.url }}" alt="{{ course.title }}" title="{{ course.title }}" class="card-img-top rounded-top">
                        </a>
                        <div class="card-body">
                            <a href="{{ course.get_absolute_url }}" class="text-dark text-decoration-none">
                                <strong>
                                    {{ course.name }}
                                </strong>
                            </a>
                            <span class="d-block mt-2 mb-3 text-secondary">{{ course.short_description|truncatewords:10 }}</span> 
                        </div> 

                       <div class="card-footer bg-white">
                            <div class="d-flex align-items-end justify-content-between py-2"> 
                                <div>
                                    <strong class="text-primary">R$ {{ course.price }}</strong>
                                </div> 
                                <a href="{{ course.get_absolute_url }}" class="btn btn-danger btn-sm">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% if courses.paginator.num_pages > 1 %}
                <div class="row">
                    <div class="co-12">
                        <nav aria-label="Page navigation blog">
                            <ul class="pagination justify-content-center">
                                {% if courses.number != 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?pagina={{ courses.previous_page_number }}"
                                           tabindex="-1" aria-disabled="true">Anterior</a>
                                    </li>
                                {% endif %}

                                {% for p in courses.paginator.page_range %}
                                    <li class="page-item"><a class="page-link" href="?pagina={{ p }}">{{ p }}</a></li>
                                {% endfor %}
                                {% if courses.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?pagina={{ courses.next_page_number }}">Próximo</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}

        </div>
    </section>

{% endblock %}