{% extends 'base.html' %}

{% block title %}
    Resultado do Filtro de Cursos | {{ block.super|truncatechars:40 }}
{% endblock %}

{% block meta_description_keyword %}
    <meta name="description" content="Filtra: {{search}}" />
    <meta name="keywords" content="Resultado da pesquisa para: {{search}}"/>
{% endblock %}

{% block main %}
    <section class="py-5"> 

        <div class="container mb-5">
            <div class="row">
                <div class="col-12 ">
                    <form action="{% url 'pages:search_filters' %}" class="row justify-content-center align-items-center">

                        <div class="col-lg-10">
                            <div class="input-group input-group-filter">
                                <input type="text" aria-label="Last name" class="form-control form-control-lg" name="search" value="{{search}}" placeholder="Pesquisar...">
                                <button class="btn btn-danger" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div> 

                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="py-4 text-center">
                        <h1 class="display-4 fw-bold text-primary">Resultados do Filtro</h1>
                        <span class="h4 fw-light">Resultado da pesquisa para: {{search}}</span>
                    </div>
                </div> 
            </div>

            <div class="row justify-content-center">
                <div class="w-100"></div>
 
                {% if courses_term %}
                    <div class="row row-cols-2 row-cols-md-5 g-4 justify-content-center"> 
                    {% for course in courses_term %}
                        <div class=" py-4">
                            <div class="card shadow-sm border-0 mb-4">
                                <a href="{{ course.get_absolute_url }}" class="card-img-top">
                                    <img src="{{ course.image.url }}" alt="{{ course.title }}"
                                         title="{{ course.title }}"
                                         class="card-img-top rounded-top">
                                </a>
                                <div class="card-body">
                                    <a href="{{ course.get_absolute_url }}" class="text-dark text-decoration-none">
                                        <strong>
                                            {{ course.name }}
                                        </strong>
                                    </a>
                                    <span class="d-block mt-2 mb-3 text-secondary">{{ course.short_description|truncatewords:10 }}</span>
 
                                </div>
                                <div class="card-footer bg-white">

                                    <div class="d-flex align-items-end justify-content-between py-2">
                                        <div>
                                            <strong class="text-primary">R$ {{ course.price }}</strong>
                                        </div>
        
                                        <a href="{{ course.get_absolute_url }}" class="btn btn-danger btn-sm">ver detalhes</a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                <div class="col-12">
                    <div class="py-4 text-center">
                        <span class="h4 fw-bold">A busca não encontrou resultado para o termo digitado</span> 
                    </div>
                </div>
                
                {% endif %} 
                
            </div>
        </div>
    </section>

{% endblock %}